@import '../../variables_.scss';

.div-button-header{
  button{
    padding: 10px 70px;

    border-radius: 10px;
    border: none;

    margin-top: 5%;

    cursor: pointer;

    position: relative;

    z-index: 20;

    &::before{
      content: '';
      width: 0%;
      height: 100%;

      position: absolute;
      left: 0;
      top: 0;

      background-color: $color_1;

      z-index: -1;

      transition: all .5s;
    }

    &:hover::before{
      width: 100%;
    }
  }
}