
.container-icon{
  position: fixed;
  bottom: 5%;
  right: 5%;
  
  z-index: 100000;

  background-color: #fff;
  height: 60px;
  overflow: hidden;

  border-radius: 20px;
  .whatsapp{
  
    font-size: 50px;
  
    color: green;
  
    border: none;
    background-color: transparent;
  
    cursor: pointer;
  
  
  
    // background-color: rgb(244 244 244 / 0.8);
    border-radius: 20px;
  }
}

@media screen and (min-width: 200px) and (max-width: 900px) {

  .container-icon{
    .whatsapp{
      bottom: 2%;
      right: 5%;
      
      font-size: 50px;
    }
  }
}