@import "@/variables";

// As práticas q eu tô usando seguem o BEM, depois dá uma olhada, isso diminui altamente e chance de conflito entra classes
.Hero {
  position: relative;
  height: 550px;
  width: 100%;
  padding: 0 32px;
  margin: 0 auto;
  margin-top: 32px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: url("../../assets/img/weights.jpg") no-repeat center/cover;

  &__content {
    width: 50%;
    height: auto;

    text-align: center;
    color: #fff;

    border-radius: 20px;

    z-index: 1;

    h2 {
      position: relative;
      margin-bottom: 1rem;

      text-transform: uppercase;
      text-decoration: underline;
    }

    p {
      color: #aaa;
      margin-bottom: 2rem;
    }

    button {
      position: relative;
      padding: 10px 70px;

      border-radius: 10px;
      border: none;

      cursor: pointer;
      z-index: 20;

      &::before {
        content: "";
        width: 0%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;

        background-color: $color_1;

        z-index: -1;
        transition: all 0.5s;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }

  &__background {
    background-color: rgb(0 0 0 / 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

// Essa media query tu pode fazer de outro jeito, esse jeito é bem mais intuitivo.
/* 
  @media (200px <= width <= 390px) {} 
  @media (391px <= width <= 450px) {}
*/

@media screen and (min-width: 200px) and (max-width: 390px) {
  header {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 530px;
    width: 100%;
    position: relative;
    // background-color: red;

    .container-header {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 90%;
      height: 400px;
      background: url("../../assets/img/weights.jpg") no-repeat center/cover;

      margin-top: 10%;

      border-radius: 20px;

      position: relative;

      .text-header {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;

        z-index: 10;

        h1 {
          text-transform: uppercase;
          position: relative;
          font-size: 21px;

          &::before {
            content: "";
            height: 3px;
            width: 100%;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            border-radius: 5px;
          }
        }

        h1,
        p {
          color: #fff;
        }
        p {
          font-size: 15px;
          text-align: center;
        }
      }
      .bg {
        background-color: rgb(0 0 0 / 0.7);
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .div-button-header {
        button {
          padding: 10px 70px;

          border-radius: 10px;
          border: none;

          margin-top: 5%;

          cursor: pointer;

          position: relative;

          z-index: 20;

          &::before {
            content: "";
            width: 0%;
            height: 100%;

            position: absolute;
            left: 0;
            top: 0;

            background-color: $color_1;

            z-index: -1;

            transition: all 0.5s;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 391px) and (max-width: 450px) {
  header {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 650px;
    width: 100%;
    position: relative;
    // background-color: red;

    .container-header {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 90%;
      height: 500px;
      background: url("../../assets/img/weights.jpg") no-repeat center/cover;

      margin-top: 10%;

      border-radius: 20px;

      position: relative;

      .text-header {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;

        z-index: 10;

        h1 {
          text-transform: uppercase;
          position: relative;
          font-size: 30px;

          &::before {
            content: "";
            height: 3px;
            width: 100%;
            background-color: #fff;
            position: absolute;
            bottom: 0;
            border-radius: 5px;
          }
        }

        h1,
        p {
          color: #fff;
        }
        p {
          font-size: 17px;
          text-align: center;
        }
      }
      .bg {
        background-color: rgb(0 0 0 / 0.7);
        position: absolute;
        width: 100%;
        height: 100%;
      }

      .div-button-header {
        button {
          padding: 10px 70px;

          border-radius: 10px;
          border: none;

          margin-top: 5%;

          cursor: pointer;

          position: relative;

          z-index: 20;

          &::before {
            content: "";
            width: 0%;
            height: 100%;

            position: absolute;
            left: 0;
            top: 0;

            background-color: $color_1;

            z-index: -1;

            transition: all 0.5s;
          }

          &:hover::before {
            width: 100%;
          }
        }
      }
    }
  }
}
