@import '../../variables_.scss';

#Social{
  overflow: initial;
  width: 100vw;
  height: 520px;
  // background-color: red;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 10%;
  
  .container-social{
  overflow: initial;

    position: relative;
    // border-radius: 20px;
    width: 80%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background-color: blue;

    .bg{
      position: absolute;
      top: -12%;
      font-size: 140px;
      color: rgb(0 0 0 / 0.2);
      text-transform: uppercase;
    }


    .text-social{
      display: flex;
      justify-content: center;
      h1{
        text-transform: uppercase;
        margin-top: 2%;
        font-size: 40px;
        width: 90%;
        text-align: center;
      }
    }

    .cards-social{
      margin-top: 5%;
      width: 80%;
      display: flex;
      gap: 40px;
      // background-color: red;
      .card{
        border-radius: 20px;
        width: 300px;
        height: 220px;
        background-color: rgb(209, 209, 209);
        background-color: $color-2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        // border: 1px solid rgb(0 0 0 / 0.2);
        // border: 3px solid $color-1;

        span{

          :first-child{
            font-size: 100px;
            color: #fff;
          }
        }
      }

      :nth-child(2){
        margin-top: 5%;
      }
    }
  }
}

@media screen and (min-width: 200px) and (max-width: 350px) {
  #Social{
    height: 1120px;
  
    margin-top: 40%;
    
    .container-social{
      width: 100%;
  
      .bg{
        position: absolute;
        top: -2%;
        font-size: 80px;
        color: rgb(0 0 0 / 0.2);
      }
  
  
      .text-social{
        display: flex;
        justify-content: center;
        h1{
          text-transform: uppercase;
          margin-top: 0%;
          font-size: 25px;
          width: 90%;
          text-align: center;
        }
      }
  
      .cards-social{
        margin-top: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        // background-color: red;
        .card{
          border-radius: 20px;
          width: 250px;
          height: 220px;
          background-color: rgb(209, 209, 209);
          // background-color: $color-2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
  
          span{
  
            :first-child{
              font-size: 100px;
              // color: #fff;
            }
          }
        }
  
        :nth-child(2){
          margin-top: 0%;
        }
      }
    }
  }
}
@media screen and (min-width: 351px) and (max-width: 450px) {
  #Social{
    height: 1120px;
  
    margin-top: 40%;
    
    .container-social{
      width: 100%;
  
      .bg{
        position: absolute;
        top: -2%;
        font-size: 120px;
        color: rgb(0 0 0 / 0.2);
      }
  
  
      .text-social{
        display: flex;
        justify-content: center;
        h1{
          text-transform: uppercase;
          margin-top: 0%;
          font-size: 30px;
          width: 90%;
          text-align: center;
        }
      }
  
      .cards-social{
        margin-top: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        // background-color: red;
        .card{
          border-radius: 20px;
          width: 250px;
          height: 220px;
          background-color: rgb(209, 209, 209);
          // background-color: $color-2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
  
          span{
  
            :first-child{
              font-size: 100px;
              // color: #fff;
            }
          }
        }
  
        :nth-child(2){
          margin-top: 0%;
        }
      }
    }
  }
}
@media screen and (min-width: 451px) and (max-width: 650px) {
  #Social{
    height: 1120px;
  
    margin-top: 40%;
    
    .container-social{
      width: 100%;
  
      .bg{
        position: absolute;
        top: -2%;
        font-size: 140px;
        color: rgb(0 0 0 / 0.2);
      }
  
  
      .text-social{
        display: flex;
        justify-content: center;
        h1{
          text-transform: uppercase;
          margin-top: 0%;
          font-size: 35px;
          width: 90%;
          text-align: center;
        }
      }
  
      .cards-social{
        margin-top: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        // background-color: red;
        .card{
          border-radius: 20px;
          width: 250px;
          height: 220px;
          background-color: rgb(209, 209, 209);
          // background-color: $color-2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
  
          span{
  
            :first-child{
              font-size: 100px;
              // color: #fff;
            }
          }
        }
  
        :nth-child(2){
          margin-top: 0%;
        }
      }
    }
  }
}
@media screen and (min-width: 651px) and (max-width: 700px) {
  #Social{
    height: 1120px;
  
    margin-top: 40%;
    
    .container-social{
      width: 100%;
  
      .bg{
        position: absolute;
        top: -4%;
        font-size: 130px;
        color: rgb(0 0 0 / 0.2);

      }
  
  
      .text-social{
        display: flex;
        justify-content: center;
        h1{
          text-transform: uppercase;
          margin-top: 0%;
          font-size: 35px;
          width: 90%;
          text-align: center;
        }
      }
  
      .cards-social{
        margin-top: 10%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        // background-color: red;
        .card{
          border-radius: 20px;
          width: 350px;
          height: 250px;
          background-color: rgb(209, 209, 209);
          // background-color: $color-2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
  
          span{
  
            :first-child{
              font-size: 100px;
              // color: #fff;
            }
          }
        }
  
        :nth-child(2){
          margin-top: 0%;
        }
      }
    }
  }
}
@media screen and (min-width: 701px) and (max-width: 1010px){
  #Social{
   
    height: 520px;


    margin-top: 10%;
    
    .container-social{
    overflow: initial;
      height: 100%;
      width: 99%;

      .bg{
        top: -12%;
        font-size: 140px;
    
      }


      .text-social{
        
        h1{
          margin-top: 2%;
          font-size: 40px;
          text-align: center;
        }
      }

      .cards-social{
        width: 100%;
        display: flex;
        gap: 40px;
        // background-color: red;
        .card{
          border-radius: 20px;
          width: 400px;
          height: 220px;

          // border: 1px solid rgb(0 0 0 / 0.2);
          // border: 3px solid $color-1;

          span{

            :first-child{
              font-size: 100px;
              color: #fff;
            }
          }
        }

        :nth-child(2){
          margin-top: 5%;
        }
      }
    }
  }
}