@import './variables_.scss';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  font-family: 'Poppins';

  overflow-x: hidden;

  ::selection{
    color: #000;
    background-color: #ffee00;
  }

  

}
body.nav-on{
  main{
    display: none;
  }
}
